/* Styling Forms - Notes from Scrimba Design Fundamentals UI/UX Course (Gary Simon) */

/* Variables */
$fs_raleway: 'Raleway',
sans-serif;
$bg_main: #F0F0F0;
$txt_main: #1A004E;
$col_kicker: #8040ff;
/* /Variables */

/* Master Overrides */
html,
body {
    padding: 0;
    font-weight: 300;
}

body {
    font-family: $fs_raleway;
    background-color: $bg_main;
    color: $txt_main;
}

/* /Master Overrides */

/* Main Page/Progress */
.wrapper {
    padding: 0.5em;
    text-align: center;
}

h1 {
    margin-bottom: 0.5em;
}

ul {
    list-style: none;
    padding: 0 1em;
    display: flex;
    justify-content: space-between;
    width: 300px;
    margin: 0 auto;
}

ul li a {
    text-decoration: none;
}

.circle {
    width: 3em;
    height: 3em;
    background-color: white;
    border-radius: 50%;
    margin: 0 auto 0.5em;
    display: grid;
    place-content: center;
    color: #797979;
    font-weight: 700;
}

.current .circle {
    background-color: $txt_main;
    color: white;
}

span {
    color: #797979;
    font-weight: 700;
}

.current span {
    color: $txt_main;
}

/* /Main Page/Progress */

/* Page-Specific Styling */
main {
    background-color: white;
    padding: 1em;
    text-align: left;
    margin-top: 2em;
    margin-bottom: 2em;
}

h2 {
    font-size: 1.3em;
    position: relative;
    margin-bottom: 1.5em;
}

h2:before {
    content: "";
    position: absolute;
    height: 5px;
    width: 30px;
    background-color: $col_kicker;
    left: 0;
    top: -7px;
    border-radius: 1em;
}

label {
    display: block;
    font-weight: 700;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
}


/* Input Styling */

/* Text/Email */
input[type=text],
input[type=email],
select,
textarea {
    width: 100%;
    padding: 1em;
    border-radius: 0.2em;
    border: 1px solid #ACACAC;
    color: #1b1820;
}

input[type=text]:focus,
input[type=email]:focus,
select:focus,
textarea:focus {
    outline: 3px solid #ACACAC;
}


/* Radio Button */
input[type=radio] {
    appearance: none;
    display: inline-block;
    position: relative;
    border: 2px solid #C6C6C6;
    color: #666;
    top: 10px;
    height: 30px;
    width: 30px;
    border-radius: 50px;
    cursor: pointer;
    margin-right: 7px;
    outline: none;
}

input[type=radio]:checked::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: $col_kicker;
    width: 16px;
    height: 16px;
    border-radius: 50%;
}


/* Checkbox Styling */
input[type=checkbox] {
    display: none;
    pointer-events: none;
}

input[type=checkbox]+label {
    cursor: pointer;
    display: grid;
    grid-template-columns: auto 3fr;
}

input[type=checkbox]:checked+label .check {
    stroke-dashoffset: 0;
}

svg {
    width: 2em;
    stroke: $col_kicker;
    stroke-width: 5;
    fill: white;
}

.box {
    stroke-dasharray: 320;
    stroke-dashoffset: 0;
    fill: white;
    transition: stroke-dashoffset 0.3s linear;
}

.check {
    stroke-dasharray: 70;
    stroke-dashoffset: 70;
    fill: none;
    transition: stroke-dashoffset 0.3s linear;
}


/* Layout, CTA, Utility, Misc Styling */
.left-label {
    display: unset;
    font-weight: 500;
    margin-right: 2em;
}

.mt-extra {
    margin-top: 2em;
}

.extra-height {
    min-height: 150px;
}

.left-col .error-field {
    border: 3px solid #FFB3B3;
}

p.error {
    background-color: #FFB3B3;
    display: inline-block;
    padding: 0.3em 0.5em;
    font-size: 0.85em;
    font-weight: 700;
    margin-top: -0.1em;
}

.cta {
    display: block;
    width: 100%;
    padding: 1em;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: $col_kicker;
    margin-top: 1.5em;
    font-weight: 700;
    font-size: 1.2em;
    border-radius: 0.2em;
}

.right-col {
    margin-top: 2em;
    color: #1B1820;

}

.right-col p {
    margin-bottom: 0.5em;
}

.right-col p:last-child {
    margin-bottom: 0;
}

.left-col span {
    padding-top: 0.3em;
    margin-left: 0.5em;
    font-weight: 700;
    color: $txt_main;
}


/* MEDIA QUERIES */
@media (min-width: 650px) {
    main {
        display: flex;
        padding: 2em;
    }

    .left-col {
        flex: 0 0 65%;
        margin-right: 2em;
    }

    .right-col {
        margin: 0;
    }

    .cta {
        width: unset;
        float: right;
        padding: 1em 4em;
    }
}

@media (min-width: 950px) {
    main {
        padding: 2em;
        width: 900px;
        margin: 2em auto;
    }

    h2 {
        font-size: 1.7em;
    }
}